In [34]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

test = pd.read_csv("/Users/dunyenghuh/Downloads/Kaggle/nlp-getting-started/test.csv") 
train = pd.read_csv("/Users/dunyenghuh/Downloads/Kaggle/nlp-getting-started/train.csv")

In [35]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [40]:
train.head(100)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0
20,31,NaN,NaN,this is ridiculous....,0
21,32,NaN,NaN,London is cool ;),0
22,33,NaN,NaN,Love skiing,0
23,34,NaN,NaN,What a wonderful day!,0
24,36,NaN,NaN,LOOOOOOL,0
25,37,NaN,NaN,No way...I can't eat that shit,0
26,38,NaN,NaN,Was in NYC last week!,0
27,39,NaN,NaN,Love my girlfriend,0
28,40,NaN,NaN,Cooool :),0
29,41,NaN,NaN,Do you like pasta?,0
...,...,...,...,...,...
70,100,accident,UK,http://t.co/GKYe6gjTk5 Had a #personalinjury a...,0
71,102,accident,"St. Louis, MO",#stlouis #caraccidentlawyer Speeding Among Top...,0
72,104,accident,"Walker County, Alabama",Reported motor vehicle accident in Curry on He...,1
73,105,accident,Australia,BigRigRadio Live Accident Awareness,1
74,107,accident,North Carolina,I-77 Mile Marker 31 South Mooresville Iredell...,1
75,109,accident,NaN,RT @SleepJunkies: Sleeping pills double your r...,0
76,110,accident,Norf Carolina,'By accident' they knew what was gon happen ht...,0
77,112,accident,"San Mateo County, CA",Traffic accident N CABRILLO HWY/MAGELLAN AV MI...,1
78,113,accident,North Carolina,I-77 Mile Marker 31 to 40 South Mooresville I...,1
79,114,accident,"Njoro, Kenya",the pastor was not in the scene of the acciden...,1
80,117,accident,NaN,mom: 'we didn't get home as fast as we wished'...,0
81,118,accident,Your Sister's Bedroom,I was in a horrible car accident this past Sun...,1
82,119,accident,NaN,Can wait to see how pissed Donnie is when I te...,0
83,120,accident,"Arlington, TX",#TruckCrash Overturns On #FortWorth Interstate...,1
84,121,accident,"South Bloomfield, OH",Accident in #Ashville on US 23 SB before SR 75...,1
85,126,accident,NaN,Carolina accident: Motorcyclist Dies in I-540 ...,1
86,128,accident,"New Hanover County, NC",FYI CAD:FYI: ;ACCIDENT PROPERTY DAMAGE;NHS;999...,1
87,129,accident,Maldives,RT nAAYf: First accident in years. Turning ont...,1
88,130,accident,"Manchester, NH",Accident left lane blocked in #Manchester on R...,1
89,131,accident,"Wilmington, NC",;ACCIDENT PROPERTY DAMAGE; PINER RD/HORNDALE DR,1
90,132,accident,NaN,???? it was an accident http://t.co/Oia5fxi4gM,0
91,133,accident,"New Hanover County, NC",FYI CAD:FYI: ;ACCIDENT PROPERTY DAMAGE;WPD;160...,1
92,134,accident,NaN,8/6/2015@2:09 PM: TRAFFIC ACCIDENT NO INJURY a...,1
93,135,accident,global,Aashiqui Actress Anu Aggarwal On Her Near-Fata...,1
94,136,accident,Alberta | Sask. | Montana,Suffield Alberta Accident https://t.co/bPTmlF4P10,1
95,137,accident,Charlotte,9 Mile backup on I-77 South...accident blockin...,1
96,138,accident,"Baton Rouge, LA",Has an accident changed your life? We will hel...,0
97,139,accident,"Hagerstown, MD",#BREAKING: there was a deadly motorcycle car a...,1
98,141,accident,"Gloucestershire , UK",@flowri were you marinading it or was it an ac...,0
99,143,accident,NaN,only had a car for not even a week and got in ...,1

In [37]:
print(train.shape)
all_data_na = (train.isnull().sum() / len(train)) * 100
all_data_na = all_data_na.drop(all_data_na[all_data_na == 0].index).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Percent' :all_data_na})
missing_data.head(20)

(7613, 5)

          Missing Percent
location        33.272035
keyword          0.801261

In [39]:
train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [44]:
count_vectorizer = feature_extraction.text.CountVectorizer()

## let's get counts for the first 5 tweets in the data
example_train_vectors = count_vectorizer.fit_transform(train["text"][0:5])

In [45]:
print(example_train_vectors[0].todense().shape)
print(example_train_vectors[0].todense())

(1, 54)
[[0 0 0 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0
  0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0]]

In [46]:
train_vectors = count_vectorizer.fit_transform(train["text"])
## note that we're NOT using .fit_transform() here. Using just .transform() makes sure
# that the tokens in the train vectors are the only ones mapped to the test vectors - 
# i.e. that the train and test vectors use the same set of tokens.
test_vectors = count_vectorizer.transform(test["text"])

In [47]:
## Model Selection
## Our vectors are really big, so we want to push our model's weights
## toward 0 without completely discounting different words - ridge regression is a good way to do this.
clf = linear_model.RidgeClassifier()

In [49]:
scores = model_selection.cross_val_score(clf, train_vectors, train["target"], cv=3, scoring="f1")
scores

array([0.60387232, 0.57484457, 0.64485082])

In [50]:
clf.fit(train_vectors, train["target"])

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
        max_iter=None, normalize=False, random_state=None, solver='auto',
        tol=0.001)